include .coveragerc .pylintrc .travis.yml Makefile MANIFEST.in
include *.md *.rst *.txt contrib/* scripts/*
exclude contrib/PKGBUILD
include tox.ini
recursive-include examples *.t
recursive-include tests *.py *.sh *.t
