include .coveragerc .pylintrc .travis.yml Makefile MANIFEST.in tox.ini
include *.md *.rst *.txt docs/* contrib/* scripts/*
exclude contrib/PKGBUILD
recursive-include examples *.t
recursive-include test *.py *.sh *.t
