name: GH-Pages
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: |
          poetry install 

      - name: Build Documenations
        run: |
          poetry run python -m nox -s docs
          touch docs/_build/html/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages
          folder: ./docs/_build/html
          git-config-name: Nicola Coretti
          git-config-email: nico.coretti@gmail.com